@import "./assets/reset.scss";

@font-face {
  font-family: 'Gilroy-Regular';
  src: url('~@/assets/fonts/Gilroy-Regular.ttf') format('font-truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FredokaOne-Regular';
  src: url('~@/assets/fonts/FredokaOne-Regular.ttf') format('font-truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ConcertOne-Regular';
  src: url('~@/assets/fonts/ConcertOne-Regular.ttf') format('font-truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url('~@/assets/fonts/Gilroy-Bold.ttf') format('font-truetype');
  font-weight: normal;
  font-style: normal;
}